<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Entre em contato comigo</h4>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/MatheusBMilani" target="_blank">
                            <i class="fab fa-github fa">

                            </i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/matheusdebmilani/" target="_blank">
                            <i class="fab fa-instagram fa">

                            </i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/matheus-milani-287b781a4/" target="_blank">
                            <i class="fab fa-linkedin-in fa">

                            </i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</footer>