#img-bg{
    background-image: url('https://i.imgur.com/yLuqPUV.png');
    min-height: 550pt;
    width: 500pt;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}