#img-bg{
    background-image: url('https://image.freepik.com/vetores-gratis/fundo-abstrato-do-banner-com-formas-vermelhas_1361-3348.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}